.form-section {
	background: #282829;
	padding: 100px 30px;
	display: flex;
	justify-content: center;
}

.form-box {
	background: #fff;
	display: grid;
	grid-template-columns: 1000px 1fr;
	width: 100%;
	border-radius: 30px;
	max-width: 1600px;
}

.form-left {
	padding: 70px 70px 70px 134px;
	background: #fff;
	border-radius: 30px 0 0 30px;
}

.form-left h2 {
	font-size: 54px;
	margin-bottom: 30px;
	font-weight: 400;
	line-height: 1.3;
	color: #38535d;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

input[type="text"],
input[type="email"] {
	padding: 15px 36px;
	font-size: 24px;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	transition: all 0.3s;
}

input:focus {
	border: 2px solid black;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

input::placeholder {
	color: #b9b9b9;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 24px;
	margin: 6px 4px;
	font-family: Arial;
	color: #333;
	cursor: pointer;
	user-select: none;
	position: relative;
}

.checkbox a {
	color: black;
}

button[type="submit"] {
	background: #2c2c2c;
	color: #fff;
	padding: 32px;
	font-size: 24px;
	border: 1px solid #2c2c2c;
	border-radius: 6px;
	cursor: pointer;
	transition: background 0.3s;
}

button[type="submit"]:hover {
	background: transparent;
	color: black;
}

.form-right {
	position: relative;
	background-image: url("../../assets/images/form_flats.png");
	background-size: cover;
	background-position: center;
	overflow: visible;
	border-radius: 0 30px 30px 0;
}

.woman-container {
	position: absolute;
	bottom: 0;
	right: 0;
	width: auto;
	height: 100%;
}

.woman-img {
	height: 120%;
	object-fit: cover;
	position: absolute;
	bottom: 0;
	right: 70px;
}

.checkbox input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.checkbox span::before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	border: 2px solid #2c2c2c;
	border-radius: 4px;
	margin-right: 10px;
    margin-bottom: 3px;
	vertical-align: middle;
	background-color: #fff;
	box-sizing: border-box;
	transition: background-color 0.3s, border-color 0.3s;
}

.checkbox input[type="checkbox"]:checked + span::before {
	background-color: #2c2c2c;
	border-color: #2c2c2c;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5L5 9.5L13 1.5' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 14px 11px;
}

.checkbox:hover span::before {
	border-color: #444;
}

.checkbox input[type="checkbox"]:focus + span::before {
	outline: 2px solid #2c2c2c;
	outline-offset: 2px;
}
