.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 99;
	background: #222222;
	color: white;
	transition: background 0.5s;
}

.header__content {
	max-width: 783px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__burger {
	display: none;
}

.logo {
	cursor: pointer;
	font-size: 36px;
	text-decoration: none;
	color: white;
}

.header .nav {
	display: flex;
	align-items: start;
	list-style: none;
	gap: 29px;
}

.header .nav li {
	padding: 0;
}

.header .nav li::before {
	background-image: none;
}

.header .list__item a {
	position: relative;
	color: white;
	font-size: 16px;
	text-decoration: none;
	transition: all 0.25s;
}

.header .list__item a::before,
.footer__link::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 4px;
	background-color: white;
	bottom: -2px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

.header .list__item a:hover::before,
.footer__link:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.header--scrolled {
	background: #fcf9f7;
	z-index: 101;
}
.header--scrolled .nav a,
.header--scrolled .logo {
	color: black;
	transition: all 0.5s;
}

.header--scrolled .header__burger span,
.header--scrolled .header__burger::before,
.header--scrolled .header__burger::after {
	background-color: black;
	transition: all 0.5s;
}

.header--scrolled .list__item a::before {
	background-color: black;
}
