@font-face {
	font-family: 'Prata';
	src: url('../../assets/fonts/Prata-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Prata", serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}

.container {
	max-width: 1660px;
	margin: 0 auto;
	padding: 0 30px;
}

.list__items {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	gap: 10px;
}

.list__item {
	position: relative;
	padding-left: 3rem;
	line-height: 1.5;
	display: flex;
	align-items: center;
}

.list__item::before {
	content: "";
	position: absolute;
	left: 0;
	width: 40px;
	height: 40px;
	background-image: url("../../assets/icon/check.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.btn {
	font-family: "Arial", serif;
	display: inline-block;
	margin-top: 30px;
	padding: 1.2rem 3rem;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	color: #000;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	user-select: none;
}

.btn:hover,
.btn:focus {
	background-color: transparent;
	color: #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	outline: none;
}

.btn:active {
	transform: scale(0.98);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.overlay.active {
	opacity: 1;
	visibility: visible;
}
