@media (max-width: 1530px) {
	.header {
		height: 80px;
	}
	.header__content {
		max-width: 100%;
		padding: 0px;
		height: 80px;
	}
	.logo {
		font-size: 32px;
	}
	.hero {
		background-image: url("../assets/images/hero_bg.png");
		background-size: cover;
		background-position: 50% 50%;
		background-attachment: fixed;
	}
	.hero__img {
		display: none;
	}
	.hero__text {
		text-align: center;
		margin: 0 auto;
	}
	.hero__desc {
		margin: 10px 0 20px 0;
	}
	.hero__text .list__items {
		align-items: center;
	}
	.advantages {
		padding-top: 50px;
	}
	.advantages__content  {
		padding-top: 0;
		grid-template-columns: minmax(100px, 500px) auto;
	}
	.advantages__image_right {
		display: none;
	}
}

@media (max-width: 1300px) {
	.advantages .btn {
		margin-top: 50px;
	}
	.form-box {
		grid-template-columns: 1fr;
		background-color: transparent;
	}
	.form-right {
		display: none;
	}
	.form-left {
		padding: 50px;
		border-radius: 30px;
		margin: 0 auto;
		max-width: 900px;
		width: 100%;
	}
}

@media (max-width: 1000px) {
	.advantages__content {
		grid-template-columns: 300px 1fr;
		grid-template-rows: repeat(2, 1fr);
	}

	.advantages__content .content {
		grid-row: 1 / 3;
		grid-column: 2 / 3;
	}

	.advantages__image_right {
		display: block;
	}
}

@media (max-width: 768px) {
	.hero {
		min-height: 100vh;
		background-attachment: scroll;
	}
	.hero__content {
		min-height: 100vh;
		align-items: center;
	}
	.advantages__image_left {
		display: none;
	}
	.advantages__content {
		grid-template-columns: auto;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		gap: 0;
	}
	.advantages__image_right {
		display: none;
	}
	.advantages .btn {
		margin-top: 40px;
	}
	.form-left input {
		padding: 10px 20px;
	}
	.form-section button {
		padding: 10px 20px;
	}
	.form-left form {
		gap: 10px;
	}
	.footer__main,
	.footer__bottom {
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 10px;
	}
	.footer__actions {
		display: none;
	}
}

@media (max-width: 444px) {

	.container {
		padding: 0 15px ;
	}

	.list__items {
		margin: 20px 0;
	}
	.hero .list__item {
		padding-left: 0;
		flex-direction: column;
	}
	.hero .list__item::before {
		display: none;
	}
	.btn {
		margin: 0;
	}
	.advantages {
		padding: 30px 0;
	}
	.advantages .content {
		padding: 0 15px;
	}
	.form-left {
		padding: 40px 20px;
	}
	.btn {
		padding: 15px 20px;
	}
	.form-section {
		padding: 30px 15px;
	}
	.footer__nav {
		display: none;
	}
	.footer::before {
		display: none;
	}
	.footer__main,
	.footer__top {
		margin: 0;
	}
}
