* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Prata", serif;
	font-weight: 400;
	font-style: normal;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 30px;
}

.header {
	height: 100px;
	z-index: 99;
	background: #222222;
	color: white;
}

.header__content {
	padding: 50px 0;
	max-width: 783px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__burger {
	display: none;
}

.logo {
	cursor: pointer;
	font-size: 36px;
	text-decoration: none;
	color: white;
}

.header .nav {
	display: flex;
	align-items: start;
	list-style: none;
	gap: 29px;
}

.header .nav li {
	padding: 0;
}

.header .nav li::before {
	background-image: none;
}

.header .list__item a {
	position: relative;
	color: white;
	font-size: 16px;
	text-decoration: none;
	transition: all 0.25s;
}

.header .list__item a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 4px;
	background-color: white;
	bottom: -2px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
}

.header .list__item a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.hero {
	color: white;
	background-color: #222222;
}

.hero__content {
	min-height: 777px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}

.hero__img {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
}

.hero h1 {
	font-size: 3rem;
}

.hero__desc {
	font-size: 1.2rem;
	margin: 20px 0;
}

.list__items {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	gap: 10px;
}

.list__item {
	position: relative;
	padding-left: 3rem;
	line-height: 1.5;
	display: flex;
	align-items: center;
}

.list__item::before {
	content: "";
	position: absolute;
	left: 0;
	width: 40px;
	height: 40px;
	background-image: url("../assets/icon/check.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.hero .list__item span {
	color: #f9c74f;
	font-weight: 700;
	font-size: 2rem;
	margin-right: 10px;
}

.btn {
	margin-top: 30px;
	background: #fff;
	color: #000;
	border: 2px solid #fff;
	padding: 1.5rem 3rem;
	font-size: 1.5rem;
	border-radius: 4px;
	cursor: pointer;
	transition: background 0.3s;
}

.btn:hover {
	background: #222222;
	color: #fff;
}

.advantages {
	padding-top: 100px;
	background-color: #282829;
}

.advantages .container {
	padding: 0;
	max-width: none;
}

.advantages__content {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 30px;
	position: relative;
	color: white;
}

.advantages .list__item::before {
	left: 0px;
	width: 58px;
	height: 47px;
	background-image: url("../assets/icon/marker.svg");
}

.advantages__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	display: block;
}

.advantages__content .content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
}

.advantages__content .list__items {
	justify-content: space-between;
	height: 100%;
}

.advantages__content .list__item {
	min-height: 47px;
	font-size: 20px;
	padding: 0 0 0 70px;
}

.advantages .list__item:not(:last-child) {
	border-bottom: 1px solid #55565a;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
